<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scraped Data</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 style="margin-bottom: 20px">Scraped Data:</h1>

    <div class="json-display">
      <pre><%= JSON.stringify(data, null, 2) %></pre>
    </div>

    <button class="back-button"><a href="/">Go Back</a></button>
  </body>
</html>
